<%- include('../partials/boilerplate') -%>

<form method="GET" action="/auth/login">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
</form>

<%- include('../partials/end') -%>