<%- include('../partials/boilerplate') %>

<div class="container">
    <h3>The page you are trying to reach does not exist</h3>
    <p><%= data.Error %></p>
    <p><%= data.Error_message %></p>
    <button onclick="goBack()">Go Back</button>
</div>
<script src="/src/main.js"></script>
<%- include('../partials/end') %>