<%- include('../partials/boilerplate') %>

<div class="container">
    <h3>Your city already exists</h3>
    <button onclick="goBack()">Go Back</button>
</div>
<script src="/src/main.js"></script>
<%- include('../partials/end') %>