<%- include('../partials/boilerplate') -%>

<div class="container">
    <div class="newSearch">
        <form method="GET" action="/search/new">
            <input type="submit" value="Start a New Search" />
        </form>
        <h3>Cities</h3>
        <form method="GET" action="/user">
            <input type="submit" value="My Shortcuts" />
        </form>
    </div>
    <div class="allCities">
        <ul>
            <% for (let city of data.cities) { %>
                <li><a href="/city/<%= city.id %>"><%= city.name %></a></li>
            <% } %>
        </ul>
    </div>
</div>
<%- include('../partials/end') -%>