<%- include('../partials/boilerplate') -%>

<h3>Main Search Page</h3>
<form method="GET" action="/search/new">
    <input type="submit" value="Start a New Search" />
</form>

<%- include('../partials/end') -%>