<%- include('../partials/boilerplate') -%>

<h3>Main Search Page</h3>
<div class="allCities">
    <ul>
        <% for (let city of data.cities) { %>
            <li><a href="/city/<%= city.id %>"><%= city.name %></a></li>
        <% } %>
    </ul>
</div>

<form method="GET" action="/search/new">
    <input type="submit" value="Start a New Search" />
</form>

<%- include('../partials/end') -%>