<%- include('../partials/boilerplate') %>

<form method="POST" action="/city">
    <input type="text" name="name" placeholder="City, ST" />
    <input type="submit" value="Search" />
</form>

<%- include('../partials/end') %>